@import 'vars';
@import 'global';
@import 'fonts';

//start header 

.header__top {
    background-color: $bg;
}
.header__top-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding-left: 7px;
}
.header__box {
    display: flex;
    align-items: center;
}
.header__btn {
    font-size: 14px;
    color: #fff;
    background-color: $blue;
    padding: 11px 18px 9px 18px;
    border-radius: 18px;
    margin-right: 50px;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
}
.header__avatar {
    margin-right: 20px;
    img{
        display: block;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        object-fit: cover;
    }
}
.header__info {
    // width: 110px;
    max-width: 150px;
    line-height: 22px;
    &-name{
        display: block;
        font-weight: 500;
        color: $link;
    }
    &-balance {
        font-size: 15px;
        font-weight: 400;
        color: $blue;
    }
}
.subheader__inner {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu__list {
    li {
        display: inline-block;
        & + li {
            margin-left: 32px;
        }
    }
    a {
        text-transform: uppercase;
        font-size: 15px;
        font-weight: 500;
        color: $link;
    }
}
.subheader__search {
    position: relative;
    input {
        display: block;
        width: 360px;
        height: 46px;
        border-radius: 23px;
        border: 1px solid #d9dfe5;
        font-size: 15px;
        padding-left: 24px;
        padding-right: 80px;
        outline: none;
        &::placeholder {
            color: #898f96;
            font-weight: 500;
        }
    }
    button {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        border: none;
        border-radius: 23px;
        background-color: $blue;
        padding: 0 27px;
        cursor: pointer;
        outline: none;
        img {
            transform: translateY(2px);
        }
    }
}
// end header
// start search

.search {
    background-image: linear-gradient( 270deg, rgb(0,48,222) 0%, rgb(23,69,237) 54%, rgb(46,90,251) 100%);
}
.search__inner {
    min-height: 725px;
    padding: 175px 0 235px;
    text-align: center;
    color: #f3f3f8;
    position: relative;
    &-title {
        font-size: 60px;
        line-height: 70px;
        margin-bottom: 30px;
        span {
            display: block;
            font-weight: 700;
        } 
    }
    &-text {
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 65px;
    }
    &-form {
        background-color: #fff;
        padding: 0 40px;
        position: absolute;
        height: 135px;
        width: 100%;
        left: 0;
        right: 0;
        bottom: -65px;
        border-radius: 6px;
        box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
        &::before, &::after {
            content: '';
            position: absolute;
            border-radius: 6px 6px 0 0;
            background-color: rgba(255, 255, 255, 0.5);
        }
        &::before {
            height: 13px;
            top: -13px;
            left: 15px;
            right: 15px;
        }
        &::after {
            height: 26px;
            top: -26px;
            left: 30px;
            right: 30px;
        }
        form {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        input {
            display: block;
            max-width: 610px;
            width: 100%;
            height: 55px;
            border: 1px solid #dcdcdc;
            border-radius: 5px 0 0 5px;
            color: #676767;
            padding: 0 27px;
            outline: none;
        }
        select {
            display: block;
            color: $gray;
            width: 195px;
            height: 55px;
            padding: 0 54px 0 20px;
            margin-right: auto;
            border: 1px solid #dcdcdc;
            border-left: none;
            border-radius: 0 5px 5px 0;
            outline: none;
            appearance: none;
            background-image: url('../images/icons/chevron-down.png');
            background-repeat: no-repeat;
            background-position: right 20px top 50%;
        }
        button {
            color: #fff;
            background-color: $blue;
            width: 222px;    
            padding: 18px;
            margin-left: 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            outline: none;
        }
    
    }
}
.search__btn {
    color: #fff;
    width: 190px;
    padding: 17px 28px;
    border-radius: 27px;
    margin: 0 12px;
    border: 1px solid #fff;
    transition: all .3s;
    &:hover {
        background-color: #fff;
        color: #0674ec;
    }
}
  
// end search
//start advantage

.advantage__inner {
    padding: 185px 0px 120px;
    text-align: center;
    display: flex;
    justify-content: space-between;
}
.advantage__item {
    width: 360px;
    border-radius: 4px;
    padding-bottom: 45px;
    &:hover {
        box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
    }
    &-icon {
        min-height: 195px;
        padding-top: 7px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &-title {
        color: #000;
        font-size: 24px;
        margin-bottom: 25px;
    }
    &-text {
        padding: 0 32px;
        color: $gray;
        line-height: 30px;
    }
}

//end advantage
//start slider
.slider {
    padding: 120px 0;
    background-color: $bggray;
}
.slider__title {
    margin-bottom: 50px;
}
.slider__item {
    font-size: 15px;
    display: flex;
    min-height: 450px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0px 2px 30px 0px rgba(147, 155, 168, 0.1);
    &-btn {
        text-align: center;
        height: 0;
        background: linear-gradient( to left, rgb(6,116,236) 0%, rgb(61,94,215) 46%, rgb(115,71,193) 100%);
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        width: 100%;
        bottom: 0;
        overflow: hidden;
        transition: all 0.5s;
        a {
            width: 130px;
            padding: 13px;
            margin: 0 5px;
            color: #fff;
            font-weight: 500;
            background-color: transparent;
            border-radius: 22px;
            border: 1px solid #fff;
            transition: all .3s;
            &:hover {
                background-color: #fff;
                color: $blue;
            }
        }
    }
    &-img {
        position: relative;
        &:hover .slider__item-btn {
            height: 100%;

        }
        img {
            display: block;
            width: 555px;
            height: 100%;
            object-fit: cover;
        }
    }
    &-content {
        padding: 45px 50px 25px 50px;
    }
    &-title {
        font-size: 24px;
        font-weight: 500;
        margin-bottom: 15px;
    }
    &-box {
        display: flex;
        align-items: center;
        margin-bottom: 30px;
    }
    &-author {
        display: flex;
        align-items: center;
        margin-right: 20px;
        max-width: 225px;
        span {
            color: #000;
            max-width: 200px;
        }
    }
    &-avatar {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        margin-right: 8px;
    }
    &-category {
        display: flex;
        align-items: center;
        span {
            color: $purp;
            max-width: 200px;
        }
    }
    &-icon {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        margin-right: 8px;
    }
    &-text {
        margin-bottom: 35px;
        font-size: 16px;
        line-height: 30px;
        color: $gray;
    }
    &-link {
        padding-bottom: 45px;
        border-bottom: 1px solid #ececec;
        margin-bottom: 25px;    
        a {
            color: #868c96;
            background-color: #f1f3f6;
            padding: 5px 15px;
            border-radius: 14px;
            & + a {
                margin-left: 3px;
            }
        }
    }
    &-info {
        display: flex;
        align-items: center;
        span {
            margin-left: 20px;
        }
    }
    &-price {
        background-color: $blue;
        color: #fff;
        font-weight: 500;
        padding: 8px 19px;
        border-radius: 16px
    }
    &-like {
        padding-left: 25px;
        position: relative;
        &::before {
            content: "\e813";
            font-family: 'Linearicons-Free';
            color: $purp;
            font-weight: 700;
            position: absolute;
            left: 0;
        }
    }
    &-basket {
        padding-left: 25px;
        color: $blue;
        position: relative;
        &::before {
            content: "\e82e";
            font-family: 'Linearicons-Free';
            font-weight: 700;
            position: absolute;
            left: 0;
        }
    }
}
.rate-star {
    margin-left: auto;
    padding-right: 0;
}

.slick-arrow {
    width: 55px;
    height: 44px;
    background-color: #81e4ed;
    border: none;
    background-color: $purp;
    outline:none;
    position: absolute;
    top: -129px;
    color: #fff;
}

.slick-prev {
    right: 85px;
    border-radius: 22px 0 0 22px;
    &::before {
        content: "\e875";
        font-family: 'Linearicons-Free';
        font-size: 14px;
    }
    
}

.slick-next {
    right: 30px;
    border-radius: 0 22px 22px 0;
    &::before {
        content: "\e876";
        font-family: 'Linearicons-Free';
        font-size: 14px;
    }
}
//end slider