@import 'vars';
@import 'global';
@import 'fonts';

//start header 

.header__top {
    background-color: $bg;
}
.header__top-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding-left: 7px;
}
.header__box {
    display: flex;
    align-items: center;
}
.header__btn {
    font-size: 14px;
    color: #fff;
    background-color: $blue;
    padding: 11px 18px 9px 18px;
    border-radius: 18px;
    margin-right: 50px;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
}
.header__avatar {
    margin-right: 20px;
    img{
        display: block;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        object-fit: cover;
    }
}
.header__info {
    max-width: 150px;
    line-height: 22px;
    &-name{
        display: block;
        font-size: 16px;
        font-weight: 500;
        color: $link;
    }
    &-balance {
        color: $blue;
    }
}
.subheader__inner {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu__list {
    li {
        display: inline-block;
        & + li {
            margin-left: 32px;
        }
    }
    a {
        text-transform: uppercase;
        font-weight: 500;
        color: $link;
    }
}
.subheader__search {
    position: relative;
    input {
        display: block;
        color: #898f96;
        width: 360px;
        height: 46px;
        border-radius: 23px;
        border: 1px solid #d9dfe5;
        padding-left: 24px;
        padding-right: 80px;
        &::placeholder {
            color: #898f96;
        }
    }
    button {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        border: none;
        border-radius: 23px;
        background-color: $blue;
        padding: 0 27px;
        img {
            transform: translateY(2px);
        }
    }
}

// end header
// start search

.search {
    background-image: linear-gradient( 270deg, rgb(0,48,222) 0%, rgb(23,69,237) 54%, rgb(46,90,251) 100%);
}
.search__inner {
    min-height: 725px;
    padding: 175px 0 235px;
    text-align: center;
    color: #f3f3f8;
    position: relative;
    &-title {
        font-size: 60px;
        line-height: 70px;
        margin-bottom: 30px;
        span {
            display: block;
            font-weight: 700;
        } 
    }
    &-text {
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 65px;
    }
    &-form {
        background-color: #fff;
        padding: 0 40px;
        position: absolute;
        height: 135px;
        width: 100%;
        left: 0;
        right: 0;
        bottom: -65px;
        border-radius: 6px;
        box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
        &::before, &::after {
            content: '';
            position: absolute;
            border-radius: 6px 6px 0 0;
            background-color: rgba(255, 255, 255, 0.5);
        }
        &::before {
            height: 13px;
            top: -13px;
            left: 15px;
            right: 15px;
        }
        &::after {
            height: 26px;
            top: -26px;
            left: 30px;
            right: 30px;
        }
        form {
            font-size: 16px;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        input {
            display: block;
            max-width: 610px;
            width: 100%;
            height: 55px;
            border: 1px solid #dcdcdc;
            border-radius: 5px 0 0 5px;
            color: #676767;
            padding: 0 27px;
            &::placeholder {
                color: #676767;
                
            }
        }
        select {
            display: block;
            color: $gray;
            width: 195px;
            height: 55px;
            padding: 0 54px 0 20px;
            margin-right: auto;
            border: 1px solid #dcdcdc;
            border-left: none;
            border-radius: 0 5px 5px 0;
            appearance: none;
            background-image: url('../images/icons/chevron-down.png');
            background-repeat: no-repeat;
            background-position: right 20px top 50%;
        }
        button {
            color: #fff;
            background-color: $blue;
            width: 222px;    
            padding: 18px;
            margin-left: 20px;
            border: none;
            border-radius: 4px;
        }
    
    }
}
.search__btn {
    color: #fff;
    font-size: 16px;
    width: 190px;
    padding: 17px 28px;
    border-radius: 27px;
    margin: 0 12px;
    border: 1px solid #fff;
    transition: all .3s;
    &:hover {
        background-color: #fff;
        color: $blue;
    }
}
  
// end search
//start advantage

.advantage__inner {
    padding: 185px 0px 120px;
    text-align: center;
    display: flex;
    justify-content: space-between;
}
.advantage__item {
    width: 360px;
    border-radius: 4px;
    padding-bottom: 45px;
    &:hover {
        box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
    }
    &-icon {
        min-height: 195px;
        padding-top: 7px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &-title {
        color: #000;
        font-size: 24px;
        margin-bottom: 25px;
    }
    &-text {
        font-size: 16px;
        padding: 0 32px;
        color: $gray;
        line-height: 30px;
    }
}

//end advantage
//start slider

.slider {
    padding: 120px 0;
    background-color: $bggray;
}
.slider__title {
    margin-bottom: 50px;
}
.slider__item {
    display: flex;
    min-height: 450px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0px 2px 30px 0px rgba(147, 155, 168, 0.1);
    &-btn {
        text-align: center;
        height: 0;
        background: linear-gradient( to left, rgb(6,116,236) 0%, rgb(61,94,215) 46%, rgb(115,71,193) 100%);
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        width: 100%;
        bottom: 0;
        overflow: hidden;
        transition: all 0.5s;
        a {
            width: 130px;
            padding: 13px;
            margin: 0 5px;
            color: #fff;
            font-weight: 500;
            background-color: transparent;
            border-radius: 22px;
            border: 1px solid #fff;
            transition: all .3s;
            &:hover {
                background-color: #fff;
                color: $blue;
            }
        }
    }
    &-img {
        position: relative;
        &:hover .slider__item-btn {
            height: 100%;

        }
        img {
            display: block;
            width: 555px;
            height: 100%;
            object-fit: cover;
        }
    }
    &-content {
        padding: 45px 50px 0;
    }
    &-title {
        font-size: 24px;
        font-weight: 500;
        margin-bottom: 15px;
    }
    &-box {
        display: flex;
        align-items: center;
        margin-bottom: 25px;
    }
    &-author {
        display: flex;
        align-items: center;
        margin-right: 20px;
        span {
            color: #000;
            max-width: 200px;
        }
    }
    &-avatar {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        margin-right: 8px;
    }
    &-category {
        color: $purp;
        max-width: 200px;
        padding-left: 25px;
        position: relative;
        display: flex;
        align-items: center;
    }
    .wordpress {
        &::before {
            content: "\e901";
            font-family: 'icomoon';
            font-size: 16px;
            position: absolute;
            left: 0;
        }
    }
    &-text {
        min-height: 120px;
        margin-bottom: 35px;
        font-size: 16px;
        line-height: 30px;
        color: $gray;
    }
    &-link {
        margin-bottom: 45px;
        a {
            color: #868c96;
            background-color: #f1f3f6;
            padding: 5px 15px;
            border-radius: 14px;
            & + a {
                margin-left: 3px;
            }
        }
    }
    &-info {
        padding: 23px 0;
        border-top: 1px solid #ececec;
        display: flex;
        align-items: center;
        span {
            margin-left: 20px;
        }
        .rate-star {
            margin-left: auto;
            padding-right: 0;
        }
    }
    &-price {
        background-color: $blue;
        color: #fff;
        font-weight: 500;
        padding: 8px 19px;
        border-radius: 16px
    }
    &-like {
        padding-left: 25px;
        position: relative;
        &::before {
            content: "\e813";
            font-family: 'Linearicons-Free';
            color: $purp;
            font-weight: 700;
            position: absolute;
            left: 0;
        }
    }
    &-basket {
        padding-left: 25px;
        color: $blue;
        position: relative;
        &::before {
            content: "\e82e";
            font-family: 'Linearicons-Free';
            font-weight: 700;
            position: absolute;
            left: 0;
        }
    }
}
.slider__inner .slick-arrow {
    background-color: $purp;
}

//end slider
//start products

.products {
    background-color: #f6f7fb;
    padding: 120px 0;
}
.products__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 30px;
    background-color: #fff;
    margin-bottom: 30px;
    box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
}
.products__title {
    padding-right: 30px;
    box-shadow: none;
}
.products__filter {
    color: #747b86;
    font-size: 16px;
    padding: 1px 30px 1px 0;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    &-dot {
        background-color: #a3b1c4;
        width: 4px;
        height: 4px;
        border-radius: 100%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
    }
    &::before,  &::after {
        content: "";
        background-color: #a3b1c4;
        width: 4px;
        height: 4px;
        border-radius: 100%;
        position: absolute;
        right: 0;
    }
    &::before {
        top: 0;
    }
    &::after {
        bottom: 0;
    }
    &-inner {
        height: 0;
        opacity: 0;
        padding-top: 25px;
        position: absolute;
        right: -23px;
        transition: all 0.3s;
    }
    &-list {
        width: 183px;
        padding: 18px 0 22px;
        background-color: #fff;
        border-radius: 3px;
        box-shadow: 0px 5px 40px 0px rgba(82, 85, 90, 0.2);
        position: relative;
        &::before {
            content: '';
            height: 0;
            width: 0;
            position: absolute;
            top: -14px;
            right: 20px;
            border-bottom: 14px solid #fff;
            border-left: 7px solid transparent;
            border-right: 7px solid transparent;
        }
    }
    &-item {
        button {
            width: 100%;
            color: #747b86;
            font-size: 15px;
            padding: 5px 10px 5px 28px;
            text-align: left;
            background-color: #fff;
            border: none;
            &:hover {
                color: $blue;
            }
        }
    }
    &:hover {
        overflow: visible;
        .products__filter-inner {
            height: auto;
            opacity: 1;
        }
    }
}
.products__btn {
    background-color: #fff;
    padding: 30px;
    margin-bottom: 50px;
    border-radius: 4px;
    box-shadow: 0px 1px 2px 0px rgba(90, 93, 100, 0.1);
    button {
        font-weight: 500;
        color: #747b86;
        border: none;
        background-color: #f1f3f6;
        padding: 7px 18px;
        border-radius: 16px;
        & + button {
            margin-left: 4px;
        }
        &.mixitup-control-active {
            color: #fff;
            background-color: $blue;
        }
    }
}
.products__inner-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.products__item {
    max-width: 360px;
    width: 100%;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
    margin-bottom: 30px;
    &-btn {
        text-align: center;
        width: 100%;
        height: 0;
        opacity: 0;
        background-image: linear-gradient( to left, rgb(6,116,236) 0%, rgb(61,94,215) 46%, rgb(115,71,193) 100%);
        position: absolute;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        transition: all 0.3s;
        a {
            width: 130px;
            padding: 13px;
            margin: 0 5px;
            color: #fff;
            font-weight: 500;
            background-color: transparent;
            border-radius: 22px;
            border: 1px solid #fff;
            transition: all .3s;
            &:hover {
                background-color: #fff;
                color: $blue;
            }
        }
    }
    &-top {
        position: relative;
        &:hover .products__item-btn {
            height: 100%;
            opacity: 1;
        }
    }
    &-img {
        min-height: 230px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    &-content {
        padding-top: 25px;
    }
    &-title {
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 15px;
        padding: 0 30px;
    }
    &-box {
        display: flex;
        align-items: center;
        margin-bottom: 25px;
        padding: 0 30px;
    }
    &-author {
        display: flex;
        align-items: center;
        margin-right: 20px;
        span {
            color: #000;
            max-width: 100px;
        }
    }
    &-avatar {
        display: inline-block;
        width: 28px;
        height: 28px;
        margin-right: 8px;
        border-radius: 50%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    &-category {
        color: $purp;
        max-width: 125px;
        padding-left: 25px;
        position: relative;
        display: flex;
        align-items: center;
    }
    .wordpress {
        &::before {
            content: "\e901";
            font-family: 'icomoon';
            font-size: 16px;
            position: absolute;
            left: 0;
        }
    }
    .psd {
        &::before {
            content: "\e900";
            font-family: 'icomoon';
            font-size: 16px;
            position: absolute;
            left: 0;
        }
    }
    .html {
        &::before {
            content: "\f13b";
            font-family: 'icomoon';
            font-size: 18px;
            position: absolute;
            left: 0;
        }
    }
    &-text {
        min-height: 90px;
        color: $gray;
        font-size: 16px;
        line-height: 30px;
        padding: 0 30px;
        margin-bottom: 30px;
    }
    &-info {
        border-top: 1px solid #ececec;
        padding: 15px 30px;
        display: flex;
        align-items: center;
    }
    &-price {
        font-weight: 500;
        color: $blue;
        background-color: #e6f1fd;
        border-radius: 15px;
        padding: 6px 17px;
        margin-right: 13px;
    }
    &-like {
        color: #6f7d8d;
        padding-left: 22px;
        margin-right: 10px;
        position: relative;
        &::before {
            content: "\e813";
            font-family: 'Linearicons-Free';
            color: $purp;
            font-weight: 700;
            position: absolute;
            left: 0;
        }
    }
    &-basket {
        color: $blue;
        margin-left: auto;
        padding-left: 24px;
        position: relative;
        &::before {
            content: "\e82e";
            font-family: 'Linearicons-Free';
            font-weight: 700;
            position: absolute;
            left: 0;
        }
    }
}
.products__bottom-btn {
    text-align: center;
    margin-top: 30px;
    button {
        font-size: 16px;
        color: #fff;
        padding: 18px 33px;
        border: none;
        background-color: $blue;
        border-radius: 27px;
        box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);
    }
}
  
//end products
//start followers-slider
.followers-slider {
    padding: 120px 0 90px;
    background-color: $bggray;
}
.followers-slider__title {
    margin-bottom: 50px;
}
.followers-slider__inner .slick-arrow {
    background-color: $blue;
}

.followers-slider__inner-box {
    text-align: center;
}
.followers-slider .products__item {
    display: inline-block;
}
.followers-slider .slick-list {
    margin-left: -15px;
    margin-right: -15px;
}

//end followers-slider
//start statistics

.statistics {
     background-color: #212225;
     min-height: 350px;
}
.statistics__inner {
    padding: 90px 0;
    display: flex;
    justify-content: space-between;
}  
.statistics__item {
    max-width: 200px;
    text-align: center;
    font-size: 18px;
    color: #fff;
    
    span {
        display: block;
        font-size: 36px;
        margin-bottom: 15px;
        padding-top: 85px;
        position: relative;
        &::before {
            font-family: 'Linearicons-Free';
            font-size: 48px;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
        }   
    }
}
.sale {
    span {
        color: #feb71d;
        &::before {
            content: "\e84c";
        }
    }
}
.total-sales {
    span {
        color: #58c9e9;
        &::before {
            content: "\e80b";
        }
    }
}
.customers {
    span {
        color: #77de51;
        &::before {
            content: "\e854";
        }
    }
}
.members {
    span {
        color: #ff6a6d;
        &::before {
            content: "\e82b";
        }
    }
}

//end statistics