@import 'vars';
@import 'global';
@import 'fonts';

//start header 

.header__top {
    background-color: $bg;
}
.header__top-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding-left: 7px;
}
.header__box {
    display: flex;
    align-items: center;
}
.header__btn {
    font-size: 14px;
    color: #fff;
    background-color: $blue;
    padding: 11px 18px 9px 18px;
    border-radius: 18px;
    margin-right: 50px;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
}
.header__avatar {
    margin-right: 20px;
    img{
        display: block;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        object-fit: cover;
    }
}
.header__info {
    width: 110px;
    line-height: 22px;
    &-name{
        font-weight: 500;
        color: $link;
    }
    &-balance {
        font-size: 15px;
        font-weight: 400;
        color: $blue;
    }
}
.subheader__inner {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu__list {
    li {
        display: inline-block;
        & + li {
            margin-left: 32px;
        }
    }
    a {
        text-transform: uppercase;
        font-size: 15px;
        font-weight: 500;
        color: $link;
    }
}
.subheader__search {
    position: relative;
    input {
        display: block;
        width: 360px;
        height: 46px;
        border-radius: 23px;
        border: 1px solid #d9dfe5;
        font-size: 15px;
        padding-left: 24px;
        padding-right: 80px;
        outline: none;
        &::placeholder {
            color: #898f96;
            font-weight: 500;
        }
    }
    button {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        border: none;
        border-radius: 23px;
        background-color: $blue;
        padding: 0 27px;
        cursor: pointer;
        outline: none;
        img {
            transform: translateY(2px);
        }
    }
}
// end header
// start search

.search {
    background-image: linear-gradient( 180deg, rgb(0,48,222) 0%, rgb(23,69,237) 54%, rgb(46,90,251) 100%);
}
.search__inner {
    min-height: 725px;
    padding: 175px 0 235px;
    text-align: center;
    color: #f3f3f8;
    position: relative;
    &-title {
        font-size: 60px;
        line-height: 70px;
        margin-bottom: 30px;
        span {
            display: block;
            font-weight: 700;
        } 
    }
    &-text {
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 65px;
    }
    &-form {
        background-color: #fff;
        padding: 0 40px;
        position: absolute;
        height: 135px;
        width: 100%;
        left: 0;
        right: 0;
        bottom: -65px;
        border-radius: 6px;
        box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
        &::before, &::after {
            content: '';
            position: absolute;
            border-radius: 6px 6px 0 0;
            background-color: rgba(255, 255, 255, 0.5);
        }
        &::before {
            height: 13px;
            top: -13px;
            left: 15px;
            right: 15px;
        }
        &::after {
            height: 26px;
            top: -26px;
            left: 30px;
            right: 30px;
        }
        form {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        input {
           width: 610px;
           height: 55px;
           border: 1px solid #dcdcdc;
           border-radius: 5px 0 0 5px;
           color: #676767;
           padding: 0 27px;
           outline: none;
        }
        select {

            color: #555555;
            width: 195px;
            height: 55px;
            padding: 0 20px;
            margin-right: auto;
            border: 1px solid #dcdcdc;
            border-left: none;
            border-radius: 0 5px 5px 0;
            outline: none;
        }
        button {
            color: #fff;
            background-color: $blue;
            width: 222px;    
            padding: 18px;
            margin-left: 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            outline: none;
        }
    
    }
}
.search__btn {
    width: 190px;
    padding: 17px 28px;
    border-radius: 27px;
    margin: 0 12px;
}
.search__btn-all {
    color: #0674ec;
    background-color: #fff;
    border: 1px solid #fff;
}
.search__btn-popular {
    color: #fff;
    border: 1px solid #fff;
}
  